.copyright {
  height: 121px;
  background: #22353F;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright-text {

  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #AEAEAE;
}

.copyright-text > span {
  color: #18CFAB;
}