.gallery-btn-loader {
  display: flex;
  justify-content: center;
  margin: 20px auto 80px;
  position: relative;

}


.button-load-gallery > span {
  font-size: 30px;
  font-weight: 700;
  margin-right: 10px;
}


.grid-item {
  width: 373px;
  height: 300px;
  margin-bottom: 20px;

}

.grid-hov {
  position: relative;
}


.grid-hov:hover .grid-item-hover {
  opacity: 1;
}


.grid-item-hover {
  opacity: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}


.grid-item-hover > .fa-expand-arrows-alt, .grid-item-hover > .fa-search {
  width: 25px;
  height: 25px;
  background: #14B9D5;
  color: #fff;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.grid-item-hover > .fa-expand-arrows-alt, .fa-search:hover {
  cursor: pointer;
}

.grid-item_2 {
  width: 185px;
  height: 150px;
  margin-bottom: 3px;
}

.grid-item_3 {
  width: 122.33px;
  height: 100px;
  margin-bottom: 3px;
}


.grid-item--height2 {
  height: 400px;
}

.grid-item--height3 {
  height: 600px;
}

.grid-item--height4 {
  height: 150px;

}

.grid-item--height5 {
  height: 300px;
}

.grid img {
  width: 100%;
  height: 100%;
}

.gallery_min_too {
  top: 0 !important;
}

/*.gallery_min_too {*/
/*  position: absolute !important;*/
/*}


