@import "amazing-work-content.css";
@import "breaking-news.css";
@import "footer.css";
@import "gallery.css";
@import "people.css";
@import "animate-container.css";


body {
  font-family: 'Montserrat', sans-serif;
}

.container_wrapper {
  width: 100%;
  max-width: 1920px;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.header-content-block {
  background-image: url("../images/Sections background/section-1(header).jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  object-fit: cover;
  padding-bottom: 243px;
  border-bottom: 5px solid #ffffff;
}

.header-nav-section {
  height: 120px;
  border-top: 5px solid #9e9e9b;
  background-color: rgba(94, 93, 88, 0.6);
}

.nav-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar {
  display: flex;
}

.navbar-item {
  margin-left: 21px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  height: 120px;
  border: 2px solid transparent;
}

.navbar-item:last-child {
  font-family: FontAwesome;
}

.fa-expand-arrows {
  font-family: FontAwesome;
}

.navbar-item:hover {
  color: #18CFAB;
  border-bottom: 2px solid #18cfab;
}


.logo {
  display: flex;
  text-decoration: none;
  align-items: center;
  color: #FFFFFF;
}

.logo-picture {
  padding: 20px;
  font-weight: 700;
  font-size: 40px;
  line-height: 31px;
  background: url(../images/logo.svg) 50% 50%/67px 58px no-repeat;
}

.logo-text {
  font-weight: 300;
  font-size: 32px;
  line-height: 48px;
}

.logo-text > span {
  color: #18CFAB;
  font-weight: 700;
}

.wrapper {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hero-wordpress-theme {
  margin-top: 264px;
  font-size: 35px;

}

.hero-wordpress-theme > span {
  color: #18CFAB;
}


.hero-slogan {
  margin: 22px auto;
  font-size: 78px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hero-notation {
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  color: #D4D4D4;
  text-transform: none;
}


.btn-section {
  display: block;
  margin-top: 130px;
  /*margin-bottom: 243px;*/
}


.button {
  font-size: 15px;
  color: white;
  padding: 16px;
  font-weight: 700;
  border-radius: 5px;
  text-transform: uppercase;
  box-shadow: 0 -3px 0 0 white;
  outline: none;
  border: none;
  background: #18CFAB;
}

.button:hover {
  cursor: pointer;
}

.button:active {
  color: #ff0026;
}

.button-explore {
  margin-right: 20px;
}


.button-purchase {
  background: #00CBF6;
}

.bloc-service {
  display: flex;
  width: 100%;
}

.service-items {
  width: calc(100% / 4);
  flex-grow: 1;
  text-align: center;
  background-color: #1C2A33;
  color: #18CFAB;
}


.service-items:nth-child(even) {
  background-color: #18CFAB;
  color: #fff;
}

.service-items > img {
  margin-top: 100px;
  height: 100px;
  margin-bottom: 60px;
}

.service-items > p {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 100px;

}


.our-services {
  display: flex;
  flex-direction: column;
  margin-bottom: 90px;
}


.title {
  text-align: center;
}

.title-text {
  padding-top: 80px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #4E4E4E;

}


.title-line {
  width: 100px;
  height: 3px;
  position: relative;
  margin: 25px auto 70px;
}

.title-line:before {
  content: '';
  top: 0;
  left: 6px;
  width: 100px;
  height: 1px;
  background: #18CFAB;
  position: absolute;
}

.title-line:after {
  content: '';
  top: 3px;
  right: 6px;
  width: 100px;
  height: 1px;
  background: #18CFAB;
  position: absolute;
}


.tabs-nav {
  display: flex;
  background-color: #F8FCFE;
  margin-bottom: 23px;
}

.tabs-title {
  padding: 16px;
  flex-grow: 1;
  text-align: center;
  border: 2px solid transparent;
  position: relative;
}

.tabs-title > a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 39px;
  color: #717171;

}

.tabs-title:hover {
  border: 2px solid #18CFAB;
}


.tabs-title.active {
  background-color: #18CFAB;
  color: #fff;
}

.tabs-title.active:after {
  content: "";
  position: absolute;
  top: 70px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
  border: 20px solid transparent;
  border-top: 20px solid #18CFAB;
}


.tabs-title.active > a {
  color: #fff;
}


.tabs-content {
  display: flex;
}

.description {
  flex-wrap: wrap;
  margin-left: 15px;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #777777;
}


.button-purchase {

}

.just-buy {
  padding: 127px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76)),
  url("../images/Sections background/section-2.jpg");
  /*background-image: url("../images/Sections background/section-2.jpg");*/
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  position: relative;
}


.just-buy-title {

  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #18CFAB;
  z-index: 100000;
}

.just-buy-text {
  margin-top: 13px;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #D8D8D8;
}

.purchase-now {
  margin-top: 62px;
}

